.menuContainer {
  background: #242020;
  border-radius: 0 0 80px 80px;
  /* flex: 0 0 180px;
  height: 100%; */
  padding-bottom: 24px;
  /* position: relative; */
  position: absolute;
  width: 170px;
  height: 170px;
  left: 0;
}

/* Burger menu icon */
/* .menuContainer::before {
  background: #ccc;
  border-radius: 5px;
  box-shadow: 0px 7px 0px 0px #ccc, 0px -7px 0px 0px #ccc;
  content: '';
  display: block;
  height: 4px;
  left: 10px;
  position: absolute;
  top: 20px;
  transition: 0.5s;
  width: 24px;
} */

.navigationList {
  list-style: none;
  margin: 0;
  padding-left: 28px;
  text-align: center;
}

.menuItem {
  height: 45px;
  padding-left: 24px;
  width: 100%;
}

.menuItem > a {
  align-items: center;
  color: #ccc;
  display: block;
  display: flex;
  height: 100%;
  width: 100%;
}

.menuItem > a:hover {
  color: #242020;
}

.menuItem:hover {
  background-color: #ccc;
  background: white;
  border-radius: 35px 0 0 35px;
  color: #242020;
  cursor: pointer;
}
