.menuContainer {
  background: var(--color-light-black);
  border-radius: 0 0 80px 80px;
  height: 170px;
  left: 0;
  padding-bottom: 24px;
  position: absolute;
  width: 170px;
}
.navigationList {
  list-style: none;
  margin: 0;
  padding-left: 28px;
  text-align: center;
}

.menuItem {
  height: 45px;
  padding-left: 24px;
  width: 100%;
}

.menuItem > a {
  align-items: center;
  color: var(--color-medium-grey);
  display: block;
  display: flex;
  height: 100%;
  width: 100%;
}

.menuItem > a:hover {
  color: var(--color-light-black);
}

.menuItem:hover {
  background-color: var(--color-medium-grey);
  background: var(--color-pure-white);
  border-radius: 35px 0 0 35px;
  color: var(--color-light-black);
  cursor: pointer;
}
