.formContainer {
  display: grid;
  gap: 8px;
  grid-template-areas:
      'title title'
      'kwhLabel .'
      'kwhInput kwhInput'
      'datetimeLabel .'
      'datetimeInput nowBtn'
      'submitBtn submitBtn';
}

.title {
  grid-area: title;
}

.kwhInput {
  grid-area: kwhInput;
}

.kwhLabel {
  grid-area: kwhLabel;
  text-align: left;
}

.datetimeLabel {
  grid-area: datetimeLabel;
  text-align: left;
}

.datetimeInput {
  grid-area: datetimeInput;
}

.nowBtn {
  grid-area: nowBtn;
}

.submitBtn {
  grid-area: submitBtn;
  margin-top: 14px;
}

@media (min-width: 600px) {
  .formContainer {
    grid-template-areas:
      'title title title title'
      'kwhLabel . datetimeLabel .'
      'kwhInput . datetimeInput nowBtn'
      '. . . submitBtn';
  }
}