.btn {
  background-color: var(--color-pure-white);
  border-radius: 8px;
  border: 2px solid var(--color-pure-black);
  cursor: pointer;
  padding: 4px 8px;
}

.btn:hover {
    color: var(--color-pure-black);
  background-color: var(--color-light-grey);
}

.btn[type='submit'] {
    background-color: var(--color-pure-black);
    color: var(--color-light-grey);
}

.btn[type='submit']:hover {
    background-color: var(--color-light-grey);
    color: var(--color-pure-black);
}
